{% extends 'base.html.twig' %}

{% block title %}Work DashBoard{% endblock %}

{% block body %}
{#  TODO : requete des 3 dernières notes + 3 dernières candidatures  #}
    <section>
        <div class="container-fluid">
            <div class="col px-5">
                <h1 class="d-flex align-items-end justify-content-end">
                    Bienvenu [nom_utilisateur]
                </h1>
                <h2>Les dernières notes</h2>
                {% for notes in note %}
                        <h3>{{ notes.name }}</h3>
                        <div class="border p-3 mb-3">
                            {% if '/https/' %}
                                <p>{{ notes.note | raw }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
        </div>
    </section>
{% endblock %}
