{% extends 'base.html.twig' %}

{% block title %}Mon DashBoard{% endblock %}

{% block body %}

        <div class="px-5">

            {% include 'home/resumeApplyFor.html.twig' %}

            {% include 'home/lastApplies.html.twig' %}

        </div>

{% endblock %}
