{% if appliesFor.status is same as 'Transmise' %}
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle">
                                </span>
{% elseif appliesFor.status is same as 'Appel' %}
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-warning border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
{% elseif appliesFor.status is same as 'Entretien' %}
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-info border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
{% elseif appliesFor.status is same as 'Acceptée' %}
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
{% elseif appliesFor.status is same as 'Refusée' %}
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
{% elseif appliesFor.status is same as 'Sans Réponse' %}
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-dark border border-light rounded-pill">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
{% endif %}