@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

$h1-title: 'Patrick Hand', cursive;
$h3-title: 'Roboto Condensed', sans-serif;
$text: 'Nanum Gothic', sans-serif;
$app-name: 'Syne Mono', monospace;

// Black & White
$light: #FFF548;
$dark: #3C1A5B;
// Background color
$background: #FAF9f9;

// Other
$radius: 5px;
// padding : haut, droite, bas, gauche
$padding: 3px;
$padding-side: 8px;
$margin: 3px;
$border: 3px;
$radius-light: 2px;
$radius-strong: 6px;