@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Molengo&family=Rubik+Mono+One&display=swap');

$app-name: 'Rubik', monospace;
$title: 'Khand', sans-serif;
$text: 'Molengo', sans-serif;

// Color

$background: #B5C2CA;
$text: #4F4F4F;
$sent: #B0E0E6;
$interview: #32CD32;
$call: #00FA9A;
$accepted: #FFD700;
$ignored: #D3D3D3;
$refused: #DC143C;

$theme-colors: (
  "primary": red,
)