@import "variables";

.a-navbar {
  color: $dark !important;
}

.a-nav:hover{
  color: $dark !important;
}

.menu:hover {
  color: $dark !important;
}

a.noHover {

  &:hover {
    color: $dark !important;
  }
}

.mini-link:hover {
  color: $dark !important;
}