@import "bootstrap";

html, body {
    background-color: whitesmoke;
    height: 10vh;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #bf957a !important;
}

.btn:hover {
    background-color: #376cdb !important;
}

ul {
    list-style-type: none;
}

.link-pro, .link-tech {
    color: black;
    text-decoration: none;
}

#scroll {
    height: calc(100vh - 110px);
    overflow-y: scroll;
}

.link-pro:hover {
    background-color: #bf957a;
    color: white;
    border: solid 2px #bf957a;
    border-radius: 5px;
    padding: 2px;
}

.link-tech:hover {
    background-color: #b666d2;
    color: white;
    border: solid 2px #b666d2;
    border-radius: 5px;
    padding: 2px;
}

$theme-colors: (
        primary: #376cdb,
        sucess: #bf957a,
        danger: #b666d2,
);