@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu:wght@300&display=swap');

$white: #ffffff;
$black: #000000a3;
$success: #bf957a;
$primary: #376cdb;
$danger: #dc3545;
$pink: #db7093;
$velvet: #800080;

$theme-colors: (
        primary: #376cdb,
        sucess: #bf957a,
        danger: #dc3545,
        dark: #000000a3,

);

html, body {
    height: 10vh;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Patrick Hand', cursive;
    text-align: end;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        color: $success;
    }
}

p {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: $black !important;
}

.name {
    color: $white;
}

ul {
    list-style-type: none;
}

.link {
    text-decoration : none;
    color: $white;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

.link-pro, .link-tech, .link-perso {
    color: $black;
    text-decoration: none;
}

#scroll {
    height: calc(100vh - 110px);
    overflow-y: scroll;
}

.link-pro:hover {
    background-color: #bf957a;
    color: $white;
    border: solid 2px #bf957a;
    border-radius: 5px;
    padding: 2px;
}

.link-tech:hover {
    background-color: #b666d2;
    color: $white;
    border: solid 2px #b666d2;
    border-radius: 5px;
    padding: 2px;
}

.link-perso:hover {
    background-color: #dc3545;
    color: $white;
    border: solid 2px #dc3545;
    border-radius: 5px;
    padding: 2px;
}

.action-icon {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.icon {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.btn:hover {
    border: none;
}

.green {
    color: $white;
    background-color: $success;
    border-radius: 3px;
    padding: 0.25rem;
}

.red {
    color: $white;
    background-color: $danger;
    border-radius: 3px;
    padding: 0.25rem;
}

.coral {
    color: $white;
    background-color: $pink;
    border-radius: 3px;
    padding: 0.25rem;
}

.velvet {
    color: $white;
    background-color: $velvet;
    border-radius: 3px;
    padding: 0.25rem;
}

.black {
    color: $white;
    background-color: $black;
    border-radius: 3px;
    padding: 0.25rem;
}