@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

$h1-title: 'Patrick Hand', cursive;
$h3-title: 'Roboto Condensed', sans-serif;
$text: 'Nanum Gothic', sans-serif;

$white: #ffffff;
$black: #323539;
$text-color: #198754;
$color-link: #0dcaf0;

html, body {
    height: 10vh;
    padding: 0;
    margin: 0;
    background-color: $black;
}

h1 {
    font-family: $h3-title;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: $text-color;
}

h3 {
    color: $text-color;
}

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: $color-link;
    }
}

p {
    font-family: $text;
    color: #198754;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: $black !important;
}

.name {
    color: $white;
}

ul {
    list-style-type: none;
}

.link {
    text-decoration : none;
    color: $white;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

.link-pro, .link-tech, .link-perso {
    color: $black;
    text-decoration: none;
}

#scroll {
    height: calc(100vh - 110px);
    overflow-y: scroll;
}

.action-icon {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.icon {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.btn:hover {
    border: none;
}

.black {
    color: $white;
    background-color: $black;
    border-radius: 2px;
    padding: 0.25rem;
}

.form-label {
    color: $text-color;
}

.form-select {
    background-color: $black;
    border: 1px solid $text-color;
    color: $text-color;
}

.form-control {
    background-color: $black;
    border: 1px solid $text-color;
    color: $text-color;

    &:hover {
        background-color: $black;
        border: 1px solid $text-color;
        color: $text-color;
    }
}