@import "variables";

.form-label {
  color: $text-color;
}

.form-select {
  background-color: $dark;
  border: 1px solid $text-color;
  color: $text-color;
}

.form-control {
  background-color: $dark;
  border: 1px solid $text-color;
  color: $text-color;

  &:hover {
    background-color: $dark;
    border: 1px solid $text-color;
    color: $text-color;
  }
}