@import "variables";

.app-name {
  font-family: $app-name;
  color: $light !important;
  font-size: 30px;
}

.hover-underline-animation-navbar {
  display: inline-block;
  position: relative;
  color: $light !important;
}

.hover-underline-animation-navbar:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $light;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-navbar:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}