@import "variables";

.dot-refused {
  height: 16px;
  width: 16px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot-sent {
  height: 16px;
  width: 16px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.dot-noResponse {
  height: 16px;
  width: 16px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.dot-call {
  height: 16px;
  width: 16px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

.dot-accepted {
  height: 16px;
  width: 16px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.dot-interview {
  height: 16px;
  width: 16px;
  background-color: deepskyblue;
  border-radius: 50%;
  display: inline-block;
}

.dot-boost {
  height: 16px;
  width: 16px;
  background-color: darkgrey;
  border-radius: 50%;
  display: inline-block;
}