@import "variables";

.table>:not(:last-child)>:last-child>*, .table {
  border-bottom-color: black !important;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.status {
  padding: 0 4px 0 4px;
}