@import "variables";

h1, .title {
  font-family: $h1-title;
  text-align: start;
  margin-bottom: 1rem;
  margin-top: 3rem;
   color: $dark;
}

h2 {
  color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  color: $light;
  display: flex;
  align-items: start;
  justify-content: start;
}