@import "variables";

h1 {
  font-family: $h1-title;
  text-align: end;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: $dark;
}

h2 {
  color: $light;
  display: flex;
  align-items: start;
  justify-content: start;
}

h3 {
  color: $light;
  display: flex;
  align-items: start;
  justify-content: start;
}