{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
    <div class="container">
            <h1 class="m-5">Ajouter une Entreprise</h1>

        <div class="d-flex align-items-center justify-content-center">
            <div class="col-6">
                {{ form(form) }}
                <a class="btn btn-primary" href="{{ path('app_apply_for') }}">Retour</a>
            </div>
        </div>

    </div>
{% endblock %}
