{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une nouvelle Entreprise</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <a class="btn btn-sm btn-outline-dark" href="{{ path('app_company_index') }}">Retour</a>
    </div>
{% endblock %}
