{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}

    <div class="container">
        <h1>Create new Company</h1>

        <div class="d-flex align-items-center justify-content-end">
            <div>
                <div class="bg-danger text-white fw-bold rounded rounded-3 mt-3">
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {{ include('company/_form.html.twig') }}

        <a href="{{ path('app_company_index') }}">back to list</a>
    </div>

{% endblock %}
