<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand ms-5 d-flex align-items-center justify-content-center"
       href="{{ path('app_index_home') }}">
        <img class="logo" src="https://i.ibb.co/TkV2ZCW/dashboard.png" alt="dashboard">
        <h1 class="ms-2 app-name">ZeDashboard</h1>
    </a>
</nav>