{% extends 'base.html.twig' %}

{% block title %}Edit ApplyFor{% endblock %}

{% block body %}
    <h1>Edit ApplyFor</h1>

    {{ include('apply_for/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_apply_for_index') }}">back to list</a>

    {{ include('apply_for/_delete_form.html.twig') }}
{% endblock %}
